      <header>
          <ul id="dropdown1" class="dropdown-content">
          <% if (logged_in?)  %> 
          <li><%= link_to 'Logout' , logout_path , method: :delete %></li>
          <% else %>
          <li><%= link_to 'Log In' , login_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'Sign Up' , new_student_path %></li>
          <% end %>
          </ul>

          <ul id="dropdown2" class="dropdown-content">
          <% if (logged_in?)  %> 
          <li><%= link_to 'Logout' , logout_path , method: :delete %></li>
          <% else %>
          <li><%= link_to 'Log In' , login_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'Sign Up' , new_student_path %></li>
          <% end %>
          </ul>

          <nav>
            <div class="container">
              <div class="nav-wrapper">
                <%= link_to 'MG University' , root_path , class: "brand-logo right" %>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                  <li><a href="sass.html">Courses</a></li>
                  <li><a href="badges.html">Enrollments</a></li>
                  <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Accounts<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
              </div>
            </div>  
          </nav>

          <ul class="sidenav" id="mobile-demo">
            <li><a href="sass.html">Courses</a></li>
            <li><a href="badges.html">Enrollments</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Accounts<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
          <!-- ---------flash messages--------- -->
          <% flash.each do|key,msg| %>
          <div class="container">
            <div class="row sign-up-form">
              <div class="col s12 m12 l12">
                <div class="card-panel red lighten-2" id="fade-out-target">
                  <span class="white-text">
                   <%= msg %>
                  </span>
                </div> 
              </div>
            </div>
          </div>
          <% end %>    
      </header>
